@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@layer components{
.about-us {
  @apply flex min-h-[720px] overflow-hidden;

}
.about-us__image {
  @apply flex-1 flex flex-col justify-center relative;
  background: var(--color-white);
}
.about-us__image div {
  @apply flex-1 flex items-center bg-center bg-no-repeat bg-contain px-16 py-8;
}
.about-us__image-sushi3 {
  @apply border-b-[color:var(--color-creamson)] bg-[url("../public/assets/aboutbg1.png")] border-b-8 border-solid;
}
.about-us__image-sushi2 {
  @apply bg-[url("../public/assets/aboutbg2.png")];
}
.about-us__image-sushi3 img {
  @apply w-[225px] h-[200px];
}
.about-us__image-sushi2 img {
  @apply w-60 h-40;
}
.about-us__button {
  @apply absolute min-h-[64px] text-white font-medium text-lg leading-[23px] cursor-pointer px-8 py-3 rounded-[32px_0_0_32px] border-0 right-0;
  background: var(--secondary-color);
  outline: 0;
  font-family: var(--plus-jakarta-sans);
}
.about-us__button img {
  @apply object-contain ml-8;
}
.about-us__content {
  @apply flex-1 flex justify-center flex-col p-16;
}
}



@layer components{
.hero {
  @apply flex min-h-[calc(100vh_-_74px)] overflow-hidden;
}
.hero-image {
  @apply flex-1 flex flex-col relative z-[5];
}
.hero-image img {
  @apply w-[120%] h-full object-contain;
}
.hero-image__overlay {
  @apply absolute w-full bg-[color:var(--primary-color)] z-[-1] inset-0;
}
.hero-image h2 {
  @apply absolute font-bold text-[120px] leading-[138px] text-white p-5 bottom-0;
  font-family: var(--playfair-display);
}
.hero-content {
  @apply flex-[1.22] flex justify-between flex-col;
}
.hero-content-info {
  @apply flex-1 flex justify-center flex-col p-16;
}
.hero-content-info h1 {
  @apply text-[80px] font-[600px] text-[color:var(--secondary-color)];
  font-family: var(--playfair-display);
}
.hero-content-info p {
  @apply text-[color:var(--secondary-color)] text-lg font-normal ml-8 mr-0 mt-8 mb-0;
  font-family: var(--plus-jakarta-sans);
}
.hero-content__buttons {
  @apply flex flex-wrap gap-9 ml-[41px] mr-0 mt-[41px] mb-0;
}
.hero-content__order-button {
  @apply min-w-[212px] cursor-pointer text-white font-medium text-lg leading-[23px] p-5 rounded-[36px] border-[none];
  outline: none;
  background: var(--secondary-color);
}
.hero-content__play-button {
  @apply flex items-center text-base leading-[19px] text-[color:var(--black-200)] cursor-pointer border-[none];
  outline: none;
  background: transparent;
  font-family: var(--plus-jakarta-sans);
}
.hero-content__play-button img {
  @apply w-[46px] h-[46px] object-contain mr-3;
}
.hero-content__testimonial {
  @apply flex flex-wrap gap-5 px-16 py-8;
  background: var(--color-white);
}
.hero-content__customer {
  @apply flex-1 gap-2.5;
}
.hero-content__customer h4 {
  @apply text-[62px] font-normal;
  font-family: var(--playfair-display);
}
.hero-content__customer p {
  @apply text-base font-normal text-[color:var(--secondary-color)] opacity-50;
  font-family: var(--plus-jakarta-sans);
}
.hero-content__review {
  @apply flex-1 flex items-center gap-2.5 min-w-[200px] pl-5 border-l-[rgba(2,2,2,0.1)] border-l border-solid;
}
.hero-content__review img {
  @apply w-[42px] h-[42px] object-contain;
}
.hero-content__review p {
  @apply text-xs font-normal leading-8 text-[color:var(--secondary-color)] opacity-80;
  font-family: var(--plus-jakarta-sans);
}

}

@layer components{
/* DO NOT REMOVE YET */

.footer__social li {
  @apply w-[42px] h-[42px] bg-[color:var(--secondary-color)] rounded-[100%];
}
.footer__social li img {
  @apply w-[45%] h-[45%] object-contain;
}

}


@layer components{

.popular-foods {
  @apply flex flex-col bg-[color:var(--primary-color)] bg-[url("../public/assets/popular\_bg.png")] bg-center bg-no-repeat bg-contain overflow-hidden p-16;
}
.popular-foods__title {
  @apply text-[56px] font-semibold leading-[78px] text-white text-center;
  font-family: var(--playfair-display);
}
.popular-foods__filters {
  @apply max-w-full overflow-x-auto flex justify-center gap-6 mt-12;
}
.popular-foods__filter-btn {
  @apply flex flex-row items-center gap-2.5 border text-base font-[300px] leading-[25px] text-white cursor-pointer px-7 py-2.5 rounded-[46px] border-solid border-[rgba(255,255,255,0.2)] hover:text-[color:var(--primary-color)];
  background: rgba(255, 255, 255, 0.05);
  font-family: var(--plus-jakarta-sans);
}
.popular-foods__filter-btn img {
  @apply w-9 h-9 object-contain;
}
.popular-foods__filter-btn.active {
  @apply text-[color:var(--primary-color)];
  background: #fff;
}
.popular-foods__filter-btn:hover {
  background: #fff;
}
.popular-foods__catalogue {
  @apply flex justify-center items-end flex-wrap gap-14 mt-16;
}
.popular-foods__btn {
  @apply w-fit font-medium text-lg leading-[23px] text-white cursor-pointer mt-20 mb-0 mx-auto px-[30px] py-5 rounded-[64px] border-[none];
  outline: none;
  background: var(--secondary-color);
}
.popular-foods__btn img {
  @apply w-3.5 h-3.5 object-contain ml-[21px];
}
.popular-foods__card {
  @apply min-w-[260px] h-fit flex items-center flex-col border p-[38px] rounded-[36px] border-solid border-[rgba(255,255,255,0.2)];
  background: rgba(255, 255, 255, 0.05);
}
.popular-foods__card-image {
  @apply w-[110px] h-[84px] object-contain;
}
.popular-foods__card-title {
  @apply font-semibold text-2xl leading-8 text-white text-center mt-[47px];
  font-family: var(--playfair-display);
}
.popular-foods__card-details {
  @apply w-full mt-8;
}
.popular-foods__card-rating {
  @apply flex items-center gap-2;
}
.popular-foods__card-rating img {
  @apply w-6 h-6 object-contain;
}
.popular-foods__card-rating p {
  @apply text-xl font-light text-white;
  font-family: var(--plus-jakarta-sans);
}
.popular-foods__card-price {
  @apply text-xl font-medium text-white;
  font-family: var(--plus-jakarta-sans);
}
.popular-foods__card.active-card {
  @apply min-w-[340px];
  background: #fff;
}
.popular-foods__card.active-card .popular-foods__card-image {
  @apply w-[214px] h-40;
}
.popular-foods__card.active-card .popular-foods__card-title {
  @apply text-[color:var(--black-500)] text-[32px];
}
.popular-foods__card.active-card .popular-foods__card-rating img {
  @apply w-8 h-8;
}
.popular-foods__card.active-card .popular-foods__card-rating p {
  @apply text-2xl text-[color:var(--gray-100)];
}
.popular-foods__card.active-card .popular-foods__card-price {
  @apply text-2xl text-[color:var(--secondary-color)];
}
}

@layer components{

.subscription {
  @apply bg-[color:var(--primary-color)] bg-[url('../public/assets/subscribe\_bg.png')] bg-center bg-no-repeat bg-contain flex-col overflow-hidden p-16;
}
}


@layer components{
/* .trending {
  @apply relative flex flex-col overflow-hidden;
} 

.trending__discover {
  @apply absolute z-[1] w-40 h-40 bg-[color:var(--secondary-color)] cursor-pointer flex justify-center items-center rounded-[100%] left-[44%] top-[44%];
}

.trending__discover p {
  @apply text-lg font-medium uppercase text-white;
  font-family: var(--plus-jakarta-sans);
}

.trending-sushi,
.trending-drinks {
  @apply w-full min-h-[640px] flex flex-row;
}

.trending__content {
  @apply flex-1 flex justify-center flex-col px-16 py-8;
} 

.trending__list {
  @apply flex-wrap gap-5;
  list-style: none;
}
.trending__list li {
  @apply flex-1 flex items-center flex-row gap-3 min-w-[210px];
} 

.trending__icon {
  @apply w-6 h-6 bg-[color:var(--primary-color)] rounded-[100%];
} 

.trending__icon img {
  @apply w-6/12 h-3/6 object-contain;
}

.trending__list p {
  @apply flex-1 text-base font-medium text-[color:var(--secondary-color)];
  font-family: var(--plus-jakarta-sans);
}
 .trending__image {
  @apply flex-1 relative bg-[color:var(--color-white)] bg-no-repeat bg-contain bg-center px-16 py-8;
}
.trending-sushi .trending__image {
  @apply bg-[url("../public/assets/japanese\_sushi.png")];
}
.trending-drink .trending__image {
  @apply bg-[url("../public/assets/japanese\_drinks.png")];
} */
/* .trending__image img {
  @apply w-[254px] h-[260px] object-contain;
} */

/* Arrows */
/* .trending__arrow {
  @apply absolute z-[1];
} */
/* .trending__arrow img {
  @apply object-contain;
} */
/* .trending__arrow-left {
  @apply left-[-2.5px] top-[12%];
} */
/* .trending__arrow-left img,
.trending__arrow-top img {
  @apply w-auto h-full;
} */
/* .trending__arrow-top {
  @apply top-[-10.5px] left-[12%];
} */
/* .trending__arrow-bottom {
  @apply bottom-[-6.5px] right-[12%];
} */
/* .trending__arrow-bottom img,
.trending__arrow-right img {
  @apply w-full h-auto;
} */
/* .trending__arrow-right {
  @apply right-[-2.5px] bottom-[12%];
} */
}

@layer components {
:root {
  --primary-color: #b1454a;
  --secondary-color: #121212;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;
  --color-white: #fff;
  --color-creamson: #fff0de;
}
* {
  @apply box-border scroll-smooth m-0 p-0;
}
body {
  @apply max-w-screen-xl bg-[color:var(--color-creamson)] mx-auto my-0;
}
a {
  @apply no-underline text-inherit;
}

/* Subscribe */
.flex-center {
  @apply flex justify-center items-center;
}
.flex-between {
  @apply flex justify-between items-center;
}
.sushi__subtitle {
  @apply text-lg font-normal text-[color:var(--primary-color)] opacity-80 tracking-[-0.01em];
  font-family: var(--plus-jakarta-sans);
}
.sushi__title {
  @apply text-[64px] font-semibold text-[color:var(--secondary-color)] mt-4;
  font-family: var(--playfair-display);
}
.sushi__description {
  @apply text-lg font-normal leading-9 tracking-[-0.01em] text-[color:var(--secondary-color)] opacity-80 mx-0 my-8;
  font-family: var(--plus-jakarta-sans);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sushi__hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sushi__hide-scrollbar {
  -ms-overflow-style: none;

  /* IE and Edge */
  scrollbar-width: none;
}

/* START: about us media queries */
@media screen and (max-width: 1024px) {
  .about-us {
    @apply flex-col;
  }
  .about-us__image {
    @apply flex-row;
  }
  .about-us__image-sushi3 {
    @apply border-r-[color:var(--color-creamson)] border-r-8 border-b-[none] border-solid;
  }
  .about-us__button {
    @apply hidden;
  }
}
@media screen and (max-width: 750px) {
  .about-us__image {
    @apply flex-col;
  }
  .about-us__image-sushi3 {
    @apply border-b-[color:var(--color-creamson)] border-r-[none] border-b-8 border-solid;
  }
  .about-us__button {
    @apply block top-[47%];
  }
}
@media screen and (max-width: 550px) {
  .about-us__image-sushi2 img,
  .about-us__image-sushi3 img {
    @apply w-6/12 h-40 object-contain;
  }
  .about-us__image div {
    @apply p-8;
  }
  .about-us__button {
    @apply top-[44%];
  }
  .about-us__content {
    @apply p-8;
  }
}

/* END: about us media queries */

/* START: header media querie */
@media screen and (max-width: 900px) {
  .header__nav {
    background: var(--primary-color);
  }
  .header__menu {
    @apply hidden;
  }
  .header__menu-mobile {
    @apply flex;
  }
}
@media screen and (max-width: 550px) {
  .header__logo {
    @apply pl-0;
  }
}

/* END: header media queries */

/* START: hero media queries */
@media screen and (max-width: 1060px) {
  .hero {
    @apply flex-col;
  }
  .hero-image img {
    @apply w-full;
    transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
  }
}
@media screen and (max-width: 750px) {
  .hero-image h2 {
    @apply text-[70px] leading-[90px];
  }
}
@media screen and (max-width: 550px) {
  .hero-image h2 {
    @apply text-[40px] leading-[60px];
  }
  .hero-content-info {
    @apply p-8;
  }
  .hero-content-info h1 {
    @apply text-6xl;
  }
  .hero-content-info p {
    @apply mx-0 my-8;
  }
  .hero-content__buttons {
    @apply mx-0 my-[41px];
  }
  .hero-content__testimonial {
    @apply p-8;
  }
}

/* END: hero media queries */

/* START: popular media queries */
@media screen and (max-width: 550px) {
  .popular-foods {
    @apply px-8 py-16;
  }
  .popular-foods__card,
  .popular-foods__card.active-card {
    @apply min-w-full;
  }
}

/* END: popular media queries */

/* START: subscribe media queries */
@media screen and (max-width: 550px) {
  .subscription {
    @apply px-8 py-16;
  }
  .subscription h2 {
    @apply text-[68px] leading-[100px];
  }
  .subscription__form {
    @apply flex-col gap-5 min-w-full p-0 rounded-[20px] border-[none];
  }
  .subscription__form input {
    @apply min-h-[50px] border px-5 py-2.5 rounded-[30px] border-solid border-[rgba(255,255,255,0.5)];
  }
  .subscription__form button {
    @apply min-w-full;
  }
}

/* END: subscribe media queries */

/* START: trending media queries */
@media screen and (max-width: 1024px) {
  .trending-sushi {
    @apply flex-col;
  }
  .trending-drink {
    @apply flex-col-reverse;
  }
  .trending__image {
    @apply w-full bg-cover;
  }
  .trending__discover {
    @apply hidden;
  }
  .trending__arrow {
    @apply hidden;
  }
}
@media screen and (max-width: 550px) {
  .trending__image img {
    @apply w-[70%] h-[70%];
  }
  .trending__content {
    @apply p-8;
  }
}

/* END: trending media queries */

}

